<% provide(:title,"About") %>

<h1> Welcome to about page </h1>

<table>

<tr>

<th>Name<th>

<th>CreationDate</th>

<th>Copyright<th>

</tr>

<h2>here is data</h2>

<tr>

<td>MyWebsite<td>

<td>29-11-2022</td>

<td>2022</td>

</tr>

</table>

</body>
</html>

