<% provide(:title,"HELP") %>



<!DOCTYPE html>



<html>



<head>



<title> <%= yield(:title)%> MyWebsite </title>



</head>



<body>



<h1>Welcome to the help page</h1>



<p>We provide help on:</p>



<ol>



            <li>Resources</li>



            <li>Contents</li>



            <li>Templates</li>

        </ol>

</body>

</html>
