<% provide(:title,"Edit Profile") %>



<% provide(:button_text,"Update") %>

<h1> Edit your profile </h1>



<div>

<%= render 'layouts/form' %>

</div>



<div>

<%= my_gravatar @user %>

<a href="https://gravatar.com/emails" target="_blank">Change</a>



</div>